      <br><br><br><br><br><br><br><br>
      <div class="container" style="padding-top:50px;">

      <form action="<%= '/' + pageTitle + '-products' %>" method=get>
        <button type="submit" class="btn btn-warning form-control"> Show Transactions </button>
      </form>

      </div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>